p{
 
    text-align: center;
   background-color: skyblue;
   border:rgb(9, 168, 168) solid 3px;
   border-radius: 1cm;
  }
  a{ margin-left: 50%;
    text-align: center;
   background-color: skyblue;
   border:rgb(9, 168, 168) solid 3px;
   border-radius: 1cm;
  }